################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


**/.vs
**/bin
**/obj
**/packages/**
*.pdb
/packages/
/BusinessLayer/obj/**
/BusinessLayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
