<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error500</title>
</head>
<body>
    <div>
        An internal error has occurred.
        @if (Model != null && Model.ServerException != null && HttpContext.Current.IsDebuggingEnabled)
        {
        <div>
            <p>
                <b>Exception:</b> @Model.ServerException.Message<br />
            </p>
            <div style="overflow:scroll">
                <pre>
                    @Model.ServerException.StackTrace
                </pre>
            </div>
        </div>
        }
    </div>

</body>
</html>