@using ReportViewerForMvc;
@{
    ViewBag.Title = "JobworkDespatch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Jobwork Billing Report</h3>

<div>

    @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { Width = "100%", Height = "600" })

</div>
