.mr-minus {
    margin-right:-2.9rem !important;
}

.error {
    border-color: #dc3545 !important;
}
label.error {
    color: #dc3545;
    font-size: 14px;
    /*   font-style: italic;*/
}

.ui-dialog-titlebar-close {
    padding: 0 !important;
}

.ui-dialog-titlebar-close:after {
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    /* Change path to image*/
    background-image: url(/Content/jquery-ui-themes-1.13.2/themes/base/images/ui-icons_777777_256x240.png);
    background-position: -96px -128px;
    background-repeat: no-repeat;
}

.ui-dialog-buttonset > button {
    border: 0.1px solid #c5c5c5 !important;
    /*border-top-right-radius: 3px !important;
        border-top-left-radius: 3px !important;*/
    border-radius: 3px;
}

.ui-dialog.ui-widget.ui-widget-content {
    /* and no special background for the dialog */
}

.ui-widget-overlay {
    opacity: 0.5 !important; /* Make sure to change both of these, as IE only sees the second one */
    filter: Alpha(Opacity=50) !important;
    background: rgb(50, 50, 50) !important;
    This will make it darker z-index: 0 !important;
}

.ui-dialog {
    z-index: 9999 !important;
}

.ui-dialog .ui-dialog-buttonpane {
    margin-top: -5px !important;
    padding-top: 14px !important;
}

.fa-trash:before {
    color: #dc3545 !important;
}

.fa-plus:before {
    color: #0a58ca !important;
}
#newone {
    padding: 0 10px 0 10px !important;
}

#newone .form-control {
    padding: .200rem .75rem;
}

#newone .form-select {
    padding: .200rem 2.25rem .200rem .75rem !important;
    background-size: 12px 10px !important;
}

#receipt .form-control, #receipt .form-select {
    font-size: 13px !important;
    border-radius: 0.2rem !important;
}

#newone table {
    border-color: white !important;
}

#newone table td {
        padding: 5px !important;
    }

#newone .plsRow i {
    text-align: center;
    vertical-align: middle;
    z-index: 9999;
}

