@model  Transactiondetails.ViewModels.JobReciptVM



@using (Ajax.BeginForm("UpdateProduct", "Home", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "result" }))
{
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Product Name</label>
        @Html.TextBoxFor(x => x.AccountCode, new { @class = "form-control" })
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Price</label>
        @Html.TextBoxFor(x => x.AccountName, new { @class = "form-control" })
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Department</label>
        @Html.TextBoxFor(x => x.ReferenceDate, new { @class = "form-control" })
    </div>
    
    <button type="submit" class="btn btn-default">Submit</button>
}

<div id="result"></div>
