.mr-minus {
    margin-right: -2.9rem !important;
}

.error {
    border-color: #dc3545 !important;
}

label.error {
    color: #dc3545;
    font-size: 14px;
    /*   font-style: italic;*/
}

.ui-widget {
    font-family: inherit !important;
    font-size: inherit !important;
}

.ui-jqgrid tr.ui-row-ltr td {
    text-align: left;
    border-right-width: 1px;
    border-right-color: inherit;
    border-right-style: solid;
}

.ui-jqgrid tr.jqgrow td {
    font-weight: normal;
    overflow: hidden;
    white-space: pre;
    height: 22px;
    padding: 0 2px 0 2px;
    border-bottom-width: 1px;
    border-bottom-color: inherit;
    border-bottom-style: solid;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

user agent stylesheet
td {
    display: table-cell;
    vertical-align: inherit;
}

.ui-widget-content {
    border: 1px solid #aaaaaa /*{borderColorContent}*/;
    background: #ffffff /*{bgColorContent}*/ url(images/ui-bg_flat_75_ffffff_40x100.png) /*{bgImgUrlContent}*/ 50% /*{bgContentXPos}*/ 50% /*{bgContentYPos}*/ repeat-x /*{bgContentRepeat}*/;
    color: #222222 /*{fcContent}*/;
}

.ui-widget-content {
    border: 1px solid #dddddd;
    background: #ffffff;
    color: #333333;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
}

user agent stylesheet
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}


.ui-dialog-titlebar-close {
    padding: 0 !important;
}

    .ui-dialog-titlebar-close:after {
        content: '';
        width: 20px;
        height: 20px;
        display: inline-block;
        /* Change path to image*/
        background-image: url(/Content/jquery-ui-themes-1.13.2/themes/base/images/ui-icons_777777_256x240.png);
        background-position: -96px -128px;
        background-repeat: no-repeat;
    }

.ui-dialog-buttonset > button {
    border: 0.1px solid #c5c5c5 !important;
    /*border-top-right-radius: 3px !important;
        border-top-left-radius: 3px !important;*/
    border-radius: 3px;
}

.ui-dialog.ui-widget.ui-widget-content {
    /* and no special background for the dialog */
}

.ui-widget-overlay {
    opacity: 0.5 !important; /* Make sure to change both of these, as IE only sees the second one */
    filter: Alpha(Opacity=50) !important;
    background: rgb(50, 50, 50) !important;
    This will make it darker z-index: 0 !important;
}

.ui-dialog {
    z-index: 9999 !important;
}

    .ui-dialog .ui-dialog-buttonpane {
        margin-top: -5px !important;
        padding-top: 14px !important;
    }

.fa-trash:before {
    color: #dc3545 !important;
}

.fa-plus:before {
    color: #0a58ca !important;
}

#newone {
    padding: 0 10px 0 10px !important;
}

    #newone .form-control {
        padding: .25rem .30rem;
    }

    #newone .form-select {
        padding: .200rem 2.25rem .200rem .75rem !important;
        background-size: 12px 10px !important;
    }

#billing .form-control,
#billing .form-select,
#despatch .form-control,
#despatch .form-select,
#receipt .form-control, #receipt .form-select {
    font-size: 13px !important;
    border-radius: 0.2rem !important;
}

#billing .form-control {
    min-width: 80px;
}

#billing .form-select {
    min-width: 122px;
}

#despatch .form-control,
#despatch .form-select {
    min-width: 75px !important;
}

#newone table {
    /*border-color: white !important;*/
}

 #newone table td {
     padding: 5px !important;
     text-align: center !important;
     vertical-align: middle !important;
 }

#newone .plsRow i {
    text-align: center;
    vertical-align: middle;
    z-index: 9999;
}


.ui-jqgrid .ui-jqgrid-bdiv {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: auto;
    text-align: left;
}

.ui-jqgrid .ui-jqgrid-view {
    font-size: inherit !important;
}

.ui-jqgrid .ui-jqgrid-htable th {
    height: 40px !important;
    /*padding: 0 2px 0 2px;*/
}

    .ui-jqgrid .ui-jqgrid-htable th div {
        height: 22px !important;
    }

.ui-jqgrid .ui-icon-asc {
    margin-top: 1px !important;
}

.ui-jqgrid .ui-icon-desc {
    margin-top: 8px !important;
}

ui-icon-triangle-1-n {
    background-position: 0 -16px !important;
}

.ui-icon-triangle-1-s {
    background-position: -65px -18px !important;
}

.ui-jqgrid tr.jqgrow td {
    padding: 5px 5px 5px 5px !important;
}

.ui-state-default, .ui-widget-content .ui-state-default {
    font-weight: bold !important;
    background-color: dimgray !important;
    background-image: none !important;
    color: #fff !important;
}

.ui-jqgrid .ui-jqgrid-pager {
    font-size: 13px !important;
    height: 35px !important;
    padding: 5px !important;
}

.ui-jqgrid .ui-pg-table {
    margin: 2px !important;
}

.ui-jqgrid .ui-pg-input {
    font-size: 13px !important;
    padding-left: 9px !important;
    height: 20px !important;
    width: 30px !important;
}

.ui-jqgrid .ui-pg-selbox {
    font-size: 13px !important;
    height: 20px !important;
}

.ui-state-highlight {
    border: 1px solid solid !important;
    background-image: none !important;
    background-color: #aaaaaa !important;
}

.ui-jqgrid tr.jqgrow :hover {
    cursor: pointer !important;
    pointer-events: painted !important;
}

.ui-jqgrid .ui-jqgrid-bdiv {
    overflow: inherit !important;
}

.swal2-styled.swal2-confirm {
    background-color: #0a58cae0 !important;
}

.form-control-datepicker {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    /*border: 1px solid #ced4da;*/
    border-right: 0;
    border-left: 1px solid #ced4da;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem 0 0 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.datepicker-item {
    display: flex;
    /*flex-wrap: nowrap;*/
    flex-direction: row;
    /*align-items: center;*/
}

.form-control-datepicker:focus{
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    /*box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);*/
}

.datepicker-item .ui-datepicker-trigger {
    width: 2.2rem;
    height:2.345rem;
    border-right: 2px solid #ced4da;
    border-left: 0;
    border-top: 2px solid #ced4da;
    border-bottom: 2px solid #ced4da;
}